.Joke {
    background-color: $white;
    width: 50%;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin-bottom: 1.25rem;
    position: relative;
    animation: show-joke .3s;

    @keyframes show-joke {
        from {
            transform: translateY(100%);
            transform-origin: center top;
        }
    }

    &:last-child {
        margin-bottom: 2rem;
    }

    .copy {
        position: absolute;
        top: .5rem;
        right: .5rem;
        color: $secondary;
        cursor: pointer;
    }

    .Joke-value {
        font-size: 1.1rem;
        line-height: 1.25;
        margin-bottom: 1rem;
        text-align: center;
    }

    .Joke-info {
        @include flex-horizontal;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style: none;
    }

    .info__item {
        margin-bottom: .25rem;

        strong {
            color: $secondary;
            margin-right: .5rem;
        }
    }
}
