// background color
$primary: #f3f3f3;
$secondary: #3B5668;
$emphasys: #00B7FF;
$white: #fff;

// font color
$color: #2d2d2d;
$colorSecondary: #fff;

// others
$box-shadow: 0 0 15px -3px rgba(darken($primary, 40), .5);
$border-radius: 7px;
