.History {
    @include flex-vertical;
    align-items: center;
    padding: 1rem 2rem;

    .empty-history {
        color: lighten($color, 30);
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .Joke {
        animation: show-joke .3s;

        @keyframes show-joke {
            from {
                transform: translateY(100%);
                transform-origin: center top;
            }
        }
    }
}
